<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>adsads</title>
</head>
<body>

<h1>click to do something</h1>

<script>
document.querySelector('h1').onclick = makeRequest;

function makeRequest() {
  var xhr = new XMLHttpRequest();
  xhr.open('GET', '/foo', true);
  xhr.onreadystatechange = function() {
      if(xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
          alert(xhr.responseText);
      }
  }
  xhr.send();
}
</script>


</body>
</html>
