<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Range</title>
</head>
<body>
  <ul>
    <li>{{.Name}} - {{.Motto}}</li>

    {{$x := .Name}}
    {{$y := .Motto}}

    <li>{{$x}} - {{$y}}</li>
  </ul>
</body>
</html>
